  <a class="footer-logo" href="http://www.miamifoundation.org/" target="_blank"><img src="{{ STATIC_URL }}css/images/TheMiamiFoundation_LOGO_BLACK.png" class="miamifnd-logo"></a>
  <a class="footer-logo" href="http://www.target.com/" target="_blank"><img src="{{ STATIC_URL }}css/images/target-logo.png" class="target-logo" alt="Target"></a>

  <!-- Preload the idea category icons so that there's no jarring flicker -->
  <div class="preload-icons">
    <img src="/static/css/images/markers/noborder-pedestrian.png">
    <img src="/static/css/images/markers/noborder-biking.png">
    <img src="/static/css/images/markers/noborder-streetsidewalk.png">
    <img src="/static/css/images/markers/noborder-transit.png">
  </div>
  <!-- END preload icons -->
